* {
    margin: 0;
}

:root {
    --light-white: #EEEEEE;
    --light-gray: #BDBDBD;
    --gray: #757575;
    --dark-gray: #424242;
    --black: #212121;
    --light-purple: #927FBF;
    --dark-purple: #310A5D;
    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;
    --background: #121212;
    --surface: #121212;
    --error: #CF6679;
    --on-primary: white;
    --on-secondary: black;
    --on-background: white;
    --on-surface: white;
    --on-error: black;
}

html {
    font-size: 16px;
    background-color: var(--background);
    color: var(--on-background);
}

body {
    height: 100vh;
}

#root {
    height: 100%;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    background-color: var(--primary);
    height: 45rem;
    width: 45rem;
    table-layout: fixed;
    white-space: nowrap;
}

.board-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: 1px var(--primary-variant) solid;
    font-size: 2rem;
}

.board-cell.hidden {
    border: 1px var(--primary-variant) solid;
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: inset .25rem .25rem .5rem var(--primary),
                inset -.2rem -.2rem .4rem var(--primary-variant);
}

.board-finish {
    font-size: 2rem;
    margin-top: 3rem;
    color: var(--on-background);
}

.new-game-form {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.new-game-level {
    background-color: var(--secondary);
    color: var(--on-secondary);
    width: 10rem;
    border: none;
    border-radius: .25rem;
    height: 2rem;
    margin-right: 1rem;
}

.new-game-start {
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: none;
    border-radius: .25rem;
    height: 2rem;
    width: 5rem;
}
